checkpoints/
test_images/
files/
qgis-venv/
__pycache__/
.pytest_cache/
app/app-venv/
responses/
app/responses/
train-venv/
runs/
training/checkpoints/
training/files/
training/test_images/
training/train-venv/
